.keyFrame{
    width: 100vw;
    background-image:linear-gradient(rgba(93, 93, 93, 0.1),rgba(93, 93, 93, 0.1)), url('../img/cover4.jpg') ;
    background-position: bottom center;
    background-size: cover;
}

.keyTitle{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    animation-name: leftin;
    /* animation-duration: 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards */
}

@keyframes leftin {
    from {width: 0; opacity:0}
    to {width: 50%; opacity:1}
  }

  /*  Medium devices (tablets, 768px and up) */
  /* md = 大於 768 px 以上 */
@media (min-width: 768px) {
    .keyTitle{
        animation-duration: 4s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards
    }
 }


.bubble-lg{
    border-radius: 50%;
}

@media(max-width:576px){
    .bubble-lg{
        width: 300px;
    height: 300px;
        top: -50%;
        right: 0%
    }
 }

 @media(min-width: 577px ){
    .bubble-lg{
        width: 600px;
    height: 600px;
        top: -90%;
        left: 25%;
    }
 }

.bubble-md{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    bottom:20%;
    right:10%;
}

.bubble-sm{
    position: absolute;
    background-color: #dc734c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom:10%;
    right:20%;
}

.main-title{
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

.dark-link{
    cursor: pointer;
    color:rgb(65, 65, 65);
    text-decoration:none
}

.dark-link:hover{
    color: orange;
    font-size: 18px;
}

a:hover img{
    opacity: 0.7;
    /* filter: brightness(70%); */
    /* transition: all 0.5s ease; */
}